.footer{
    padding: 4rem 8rem 1rem 8rem;
    text-align: center;
}

.subs p, small{
    color: black;
}


.subscription-heading{
    font-size: 20px;
    padding: 0;
}

.subscription-text{
    font-size: 15px;
    padding: 0 0 4rem 0;
}

@media screen and (max-width: 780px) {
    .footer{
        padding: 4rem 6rem 1rem 6rem;
    }
  }